<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/error.css">
    <title>error</title>
    <style>

    </style>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <div class="container">
            <h1>ERROR</h1>
            <h2>
                <%=error%>
            </h2>
            <a href="/api/expenses" class="home-link">Go to Homepage</a>
        </div>
        <%- include('../partials/footer.ejs') %>
</body>

</html>