* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #2c3e50;
}

#todo-form {
    display: flex;
    margin-bottom: 20px;
}

#todo-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
}

#todo-form button {
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#todo-form button:hover {
    background-color: #2980b9;
}

#todo-list {
    list-style-type: none;
}

#todo-list li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#todo-list li.completed .todo-text {
    text-decoration: line-through;
    color: #7f8c8d;
}

.todo-actions {
    display: flex;
    gap: 5px;
}

.todo-actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s ease;
}

.complete-btn {
    color: #2ecc71;
}
.incomplite-btn {
    color:#333
}
.complete-btn:hover {
    color: #27ae60;
}

.delete-btn {
    color: #e74c3c;
}

.delete-btn:hover {
    color: #c0392b;
}
#prevBtn, #nextBtn{
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    #todo-form {
        flex-direction: column;
    }

    #todo-input {
        border-radius: 4px;
        margin-bottom: 10px;
    }

    #todo-form button {
        border-radius: 4px;
    }
}

